<!DOCTYPE html>
<html>
  <head>
    <title>KaizenApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" href="assets/stylesheets.home.css">
    <!------ コピペしてきたBootstrap CSS ---------->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!------ コピペしてきたBootstrap CSS ---------->

    <!-- 自分んで貼ったBootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!------ コピペしてきたJQueryのCDNリンク ---------->
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <!------ コピペしてきたJQueryのCDNリンク ---------->

  </head>

  <body>
    <header>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <div class="row justify-content-center">
              <div class="col-md-2 align-center">
                <%= link_to("製造記録", "/record") %>
              </div>
              <div class="col-md-2 align-center">
                <%= link_to("時系列グラフ", "/graph") %>
              </div>
              <div class="col-md-2 align-center">
                <%= link_to("新規製品登録", "/product/new") %>
              </div>
              <div class="col-md-2 align-center">
                <%= link_to("新規ユーザー登録", "/user/new") %>
              </div>
              <div class="col-md-2 align-center">
                <%= link_to("ログイン", "/login") %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </header>

    <hr class="bothline">

    <% if flash[:notice] %>
      <div class="flash">
        <%= flash[:notice] %>
      </div>
    <% end %>

    <%= yield %>

    <hr class="bothline">

    <div class="container">
      <footer>
        <p>&copy; 2020 space</p>
      </footer>
    </div>

  </body>

</html>
